/* Basic Reset */
body, h1, h2, p, input, textarea, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh; /* Full viewport height */
}

.container {
    width: 80%;
    max-width: 800px; /* Adjusted for better centering */
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

header h1 {
    font-size: 24px;
    color: #0d1b2a;
}

.button, a.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #0d1b2a; /* Updated to match the form theme */
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover, a.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0d1b2a;
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

form textarea {
    resize: vertical;
}

form button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #0d1b2a; /* Updated to match the form theme */
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0d1b2a;
    backdrop-filter: blur(10px);
}

span {
    color: red;
}

.whatsapp-icon {
    margin-top: 20px;
    text-align: center;
}

.whatsapp-icon img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #25D366;
}
